<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <title>Пользователи</title>
</head>

<body class="d-grid gap-4">
<main>
    <h4>Получить клиента по id</h4>
    <input type="text" id="clientIdTextBox" value="1" placeholder="Введите id клиента">
    <button class="btn btn-primary" onclick="getClientById()">Получить</button>
    <pre id="clientDataContainer"></pre>

    <h4>Сохранить нового клиента</h4>
    <input type="text" id="clientName" class="ml-3" value="" placeholder="Имя">
    <input type="text" id="clientAddress" class="ml-3" value="" placeholder="Адрес"><br/>
    <div id="phoneInputs">
        <input type="text" id="clientPhone1" class="phone ml-3" value="" placeholder="Телефон">
    </div>
    <button class="btn btn-light" onclick="addPhone()">добавить телефон</button>
    <br/>
    <button class="btn btn-primary" onclick="saveClient()">Сохранить клиента</button>

    <h4>Все клиенты</h4>
    <table>
        <thead>
        <tr>
            <th th:text="Клиент">Клиент</th>
            <th th:text="Адрес">Адрес</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${allClients}">
            <td th:text="${client.name}">Какойтов Ктото Ктотович</td>
            <td th:text="${client.address.street}">улица разбитых фонарей</td>
        </tr>
        </tbody>
    </table>
</main>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="showClientModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Клиент Сохранен</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="clientDataModal">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
